@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #F2F2F2;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.navbar{
    position: fixed;
    background-color: white;
    padding: 105px 1em 1.1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    height: 25px;
    margin-top: -90px;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    .container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;

        .mobile-nav {
            i {
                display: flex;
                align-items: center;
                font-size: 1.3em;
            }
            .fontos {
                font-size: 1.6425em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        
        logos {
            display: flex;
            align-items: center;
            font-size: 20px;
        }

        nav {
            display: none;
        }
        
        .left-nav {
            display: flex;
            align-items: center;

            .login {
                display: none;
            }

            a {
                margin-left: .5em;
                display: inline-flex;
                align-items: center;
            }
            
            a + a {
                margin-left: 10px;
            }
            
        }
    }
    
}



.navbar .container nav.mobile {
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    top: 4em;
    bottom: 4em;
    background-color: #B9A16B;
    border: 1px solid rgba(0, 0, 0, 0.3);
    opacity: .9;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .primary-nav {
        list-style: none;
        padding-left: 1em;
        font-weight: bold;
        font-size: 1.2em;
        
        a {
            display: block;
        }

        a:hover{
            color: white;
        }
    }

    li + li {
        padding-top: 1em;
    }

}




.hero {
    background-color: #F2F2F2;
    padding: 3em;
    top: 50px;
    text-align: center;
    margin: 0 auto;

    .container {
        display: flex;
        flex-direction: column-reverse;
        
    }

    a {
        padding: 0;
        margin: 0;
    }

    .hero-left {

        padding-top: 2em;
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;
        h3 {
            font-weight: normal;
            font-size: 20px;
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-weight: normal;
            font-size: 25px;
        }

        .hero-button {
            display: flex;
            background-color: black;
            width: 10em;
            height: 2.7em;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            
            
            a {
                text-decoration: none;
                color: white;
                
            }
        }
        
    }

    .hero-right {
        h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
            margin-top: 3em;
            margin-bottom: .8em;
            font-weight: normal;
            font-size: 16px;
            background-color: white;
            border-radius: 5px;
            width: 8em;
            height: 2em;
        }

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font-weight: bold;
            margin-top: .5em;
        }

        .hero-left-center {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            // flex-direction: column;

            .shoe-images {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }

        .slider {

            display: flex;
            align-items: center;
            justify-content: center;

            div + div {
                margin-left: .5em;
            }

            .slider-sides {
                display: flex;
                align-items: center;
                background-color: white;
                height: .4em;
                width: 5em;
                border: 2px solid rgba(0, 0, 0, 0.1);
                border-radius: 5px;
            }
            .slider-current {
                display: flex;
                align-items: center;
                background-color: #B9A16B;
                height: .6em;
                width: 6em;
                border-radius: 5px;
            }
        }
    }
}

.categories {

    padding: 3em;
    background-color: #B9A16B;
    border-radius: 30px;
    margin-top: 3em;
    margin-bottom: 3em;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        position: relative;
        font-size: 1.8em;

        &::after, &::before {
            content: "";
            width: 3em;
            height: .05em;
            display: inline-block;
            background: rgba(0, 0, 0, 0.6);
            margin: 4px 10px;
            border-radius: 5px;
        }
    }
    
    

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 15px;

        .category {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto 2em;
            // border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            // max-width: 100%;
            background-color: white;
            width: 20.5em;
            height: 17em;
    
            
            .category-image {
                
                border-radius: 10px;
                width: 100%;
                margin: 0;
                padding: 0;
                
                
                img {
                    width: 100%;
                    border-radius: 10px;
                    height: 14em;
                    object-fit: cover;
                }
            }
    
            .category-description {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 .25em 0;
                flex-wrap: wrap;
                margin: .5em 0;
    
                h2 {
                    margin:0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                a {
                    display: inline-flex;
                    font-weight: medium;
                    color: white;
                    padding: .2em .3em;
                    background-color: rgba(0, 0, 0, 0.95);
                    border-radius: 5px;
                    height: 1.5em;
                    width: 7em;
                    align-items: center;
                    justify-content: center;
                    margin:0;
    
                    img {
                        margin-left: .8em;
                    }
                }
            }
            
        }
    }

    
}

.products {
    padding: 3em 3em .5em;
    display: flex;
    flex-direction: column;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3em;

    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        position: relative;
        font-size: 1.8em;
        padding-bottom: .4em;

        &::after, &::before {
            content: "";
            width: 3em;
            height: .05em;
            display: inline-block;
            background: rgba(0, 0, 0, 0.6);
            margin: 4px 10px;
            border-radius: 5px;
        }
    }
    .product {

        margin-top: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding-top: 1em;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        width: 20em;
        height: 20em;
        // margin-bottom: 2em;

        .images {

            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;

            .user-interaction {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 2em;
                height: 2em;
                position: absolute;
                top: 2em;
                left: .7em;

            }

            .product-image {
                width: 100%;
                // height: 100%;
                border-radius: 10px;
                
                img {
                    width: 100%;
                    border-radius: 10px;
                    height: 20em;
                    object-fit: cover;
                }
            }
        }

        .product-description {
            // padding: 0 .5em 0;
            display: flex;
            // align-items: center;
            flex-direction: column;
            margin-bottom: 5em;

            p {
                padding: 0 .5em 0;
                margin: 0;
            }

            h3 {
                padding: 0 .5em 0;
                margin: 0;
            }
        }
        
    }

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin: 0 auto;
        padding: .5em 1.2em;
        margin-top: 2em;
    }

    
}

.newslatter {

    padding: 3em;
    background-color: #B9A16B;
    border-radius: 30px;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-bottom: 15em;
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    
    // display: flex;

    h5, h2 {
        text-align: center;
    }

    .hero-button {
        display: flex;
        background-color: black;
        width: 10em;
        height: 2.7em;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 8px;
        margin-top: 2em;
        
        a {
            text-decoration: none;
            color: white;
            
        }

    }

    .input {
        
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45%;
            // height: 2.5em;
            border: none;
            border-radius: 8px;
            padding: 1.1em;
            text-align: center;
            font-size: .8em;
    
            &::placeholder {
                text-align: center;
            }
            
            &:focus {
                outline: none;
            }
            
        }

    }

    
}

footer {
    padding: 0 3em;
    background-color: white;
    border-radius: 30px;
    margin-top: -10em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}


@media only screen and (min-width:800px) {
    .mobile-nav {
        display: none;
        
    }

    .navbar {
        position: fixed;
        background-color: white;
        padding: 105px 1em 1.1em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 35px;
        height: 25px;
        margin-top: -90px;
        right: 0;
        left: 0;
        z-index: 1000;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: grid;
        grid-template-columns: 1fr;

        .container {
            width: 100%;
            display: flex;
            align-items: center;

            nav {
                height: auto;
                display: block;
                background-color: transparent;
                border: none;
                border-radius: none;
                padding: 0;
                margin: 0;
                box-shadow: none;

                .primary-nav {

                    display: flex;
                    list-style: none;
                    font-weight: bold;
                    justify-content: space-between;
                    a.current-page {
                        color: #B9A16B;
                    }

                    li {
                        
                        a:hover {
                            color: #B9A16B;
                        }
                    }

                    li + li {
                        margin-left: 1em;
                    }

                    li.last-child {
                        display: none;
                    }
                }

                
            }

            .left-nav {
                .login {
                    display: inline-flex;
                    font-weight: bold;

                    &:hover {
                        color: #B9A16B;
                    }
                }
            }

            
        }
    }
    

    
    .hero {

        margin: 0 3em 0 4.5em;
        
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            // gap: 10em;
            

            .hero-left {

                padding-top: 2em;

                display: block;
                width: 50%;
                align-items: center;
                // align-items: center;
                h3 {
                    font-weight: normal;
                    font-size: 1em;
                    text-align: left;
                    margin-bottom: 0;
                }
        
                h1 {
                    font-size: 2.5em;
                    text-align: left;
                }
        
                h2 {
                    font-weight: normal;
                    font-size: 1.5em;
                    text-align: left;
                }
        
                .hero-button {
                    background-color: black;
                    width: 10em;
                    height: 2.7em;
                    border-radius: 8px;
                    
                    
                    a {
                        text-decoration: none;
                        color: white;
                        
                    }
                }
                
            }
            .hero-right {
                width: 50%;
                padding: 0;
                margin: 0;
                h3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: normal;
                    background-color: white;
                    border-radius: 5px;
                    width: 8em;
                    height: 2em;
                    
                }
        
                h2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    font-weight: bold;
                }
        
                .hero-left-center {
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // flex-direction: column;

                    .img-item {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
        
                    .shoe-images {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 80%;
                    }
                }
        
                .slider {
        
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
                    div + div {
                        margin-left: .5em;
                    }
        
                    .slider-sides {
                        background-color: white;
                        height: .4em;
                        width: 5em;
                        border-radius: 5px;
                    }
                    .slider-current {
                        background-color: #B9A16B;
                        height: .4em;
                        width: 5em;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    .categories {
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .products {
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
        }
    }

    .newslatter {
        h5 {
            font-size: 1em;
        }
        
        h2 {
            font-size: 2.2em;
        }
    }

    footer {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 2em;
        }
    }

}